.item-form {
  font-family: $font-primary;
}

.sheet-tabs {
  flex: 0;
}

.sheet-body,
.sheet-body .tab,
.sheet-body .tab .editor {
  height: 100%;
}

.tox {
  .tox-editor-container {
    background: $c-white;
  }

  .tox-edit-area {
    padding: 0 8px;
  }
}

form {
	.width10 {
		@apply w-10;
	}
	.width20 {
		@apply w-20;
	}
	.width40 {
		@apply w-40;
	}
	.width48 {
		@apply w-48;
	}
	.width60 {
		@apply w-60;
	}
	.box-100 {
		width: 100px;
		height: 100px;
		max-width: max-content;
	}
	input.width-auto {
		@apply w-auto;
	}
}
