@import "tailwindcss/components";
@import "tailwindcss/utilities";

 /*Import utilities.*/
@import 'styles/utils/typography.css';
@import 'styles/utils/colors.css';
@import 'styles/utils/mixins.css';
@import 'styles/utils/variables.css';

@import 'styles/components/forms.css';
@import 'styles/components/resource.css';
@import 'styles/components/tabs.css';

/* Styles limited to hellas sheets */
div.hellas {
	font-family: $font-primary;

	 /*Background of sheets*/
	.window-content {
		 /*Credit: <span>Photo by <a href="https://unsplash.com/@augustinewong?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Augustine Wong</a> on <a href="https://unsplash.com/s/photos/marble-texture?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span>*/
		background-image: url("assets/images/augustine-wong-li0iC0rjvvg-unsplash.jpg");
		background-repeat: repeat;
	}

	.hellas-titling {
		font-family: $font-titles;
	}
}

